@font-face {
  font-family: "Graphik Alt";
  src: url("./part1-design-assets/fonts/Graphik Alt-Regular.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik Alt";
  src: url("./part1-design-assets/fonts/Graphik Alt-Light.otf")
  format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Graphik Alt";
  src: url("./part1-design-assets/fonts/Graphik Alt-Medium.otf")
  format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Graphik Alt";
  src: url("./part1-design-assets/fonts/Graphik Alt-Semibold.otf")
  format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Graphik Alt";
  src: url("./part1-design-assets/fonts/Graphik Alt-Bold.otf")
  format("opentype");
  font-weight: 900;
}

*{

  box-sizing: border-box;
}
body {
  margin: 0;
}

nav {
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  padding: 0 30px;
}

nav a {
  font-family: "Graphik Alt";
  font-weight: 400;
  font-size: 14px;
  color: #7c7c7c;
  margin: 0 8px;
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: #1e1e1e;
}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0;
}

.avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.logo {
  width: 26px;
  height: 26px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* durchweg skalierend*/
.container {
  padding: 0px 30px;
  width: 100%;
    margin-top: 32px;

}



/* schrittweise skalierend*/
/*.container {*/
/*  width: 300px;*/
/*  margin-top: 32px;*/
/*}*/


/*@media only screen and (min-width: 600px) {*/
/*  .container {*/
/*    width: 500px;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 900px) {*/
/*  .container {*/
/*    width: 700px;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 1300px) {*/
/*  .container {*/
/*    width: 1200px;*/
/*  }*/
/*}*/

.image {
  background-image: url("./part1-design-assets/assets/image-3000x2000.jpg");
  width: 100%;
  padding-top: calc(200% / 3);
  /* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  position: relative;
}
.blips {
  position: absolute;
  right: 394px;
  top: 35px;
  height: 760px;
  width: 216px;
}

.blip {
  width:18px;
  height:18px;
  border-radius:50%;
  background-color:#ffffff;
  position:relative;
}

.blip:before {
  position:absolute;
  width:200%;
  height:200%;
  border-radius:50%;
  border: 1px solid #fff;
  left:-50%;
  top:-50%;
  content: ' '
}


.blip-shirt {
  position: absolute;
  top: 0px;
  left: 60px;
}

.blip-sweatshirt {
  position: absolute;
  top: 107px;
  left: 36px;
}

.blip-coat {
  position: absolute;
  top: 50%;
  right: 0px;
}

.blip-jeans {
  position: absolute;
  bottom: 175px;
  left: 0px;
}

.blip-trainers {
  position: absolute;
  bottom: 0px;
  right: 63px;
}

.card {
  position: absolute;
  height: 500px;
  width: 480px;
  background-color: white;
  top: 194px;
  left: 148px;
  border-radius: 6px;
  padding: 70px 65px 85px;
  text-align: center;
}

.card h1 {
  color: #1E1E1E;
  font-family: "Graphik Alt";
  font-size: 48px;

  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 60px;
  margin-top:0px;
  margin-bottom:25px;
}

.card p {

  height: 120px;
  width: 350px;
  color: rgba(30,30,30,0.8);
  font-family: "Graphik Alt";
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 24px;
  text-align: center;
  margin-bottom:32px;
}

.card button {
  background:white;
  border-radius: 6px;
  font-family: "Graphik Alt";
  border: 1px solid rgba(30,30,30,0.2);
  color:#4B4B4B;
  height: 48px;
  width: 140px;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 24px;
  text-align: center;
}
