.blue {
  color: blue;
}

.red {
  color: red;
}

.red:hover {
  color: darkred;
}

#primary {
  background-color: chartreuse;
}
span {
  display: block;
}
article > span {
  color: orange;
}

article span {
  font-size: 30px;
}
