body,
html {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

header {
  background-color: blanchedalmond;
  height: 50px;
  font-size: 32px;
}

aside {
  flex-basis: 30%;
  height: 100%;
  background-color: aquamarine;
}
main {
  flex: 1;
}
.more-space {
  flex: 2;
}

nav {
  width: 100%;
  background-color: orange;
}

nav ul {
  all: unset;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.right {
  align-self: flex-end;
}

.center {
  align-self: center;
}

.left {
  align-self: flex-start;
}

nav ul li {
  all: unset;
  display: block;
}

footer {
  background-color: darkgreen;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: row;

  height: calc(100% - 100px);
  width: 100%;
}
