body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

thead {
  font-size: 24px;
}

tbody {
  font-size: 20px;
}
td {
  min-width: 200px;
  text-align: center;
}

.special-dino > td:last-child {
  color: green;
}
