body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

nav {
  background-color: cadetblue;
  padding: 1rem 2rem 0rem 0.5rem;
  width: 100%;
}

.nav-background-green {
  background-color: green;
}

.nav-background-brown {
  background-color: brown;
}
a {
  transition: color 1s;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
}

@keyframes example {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}
a:hover {
  color: white;
}

.selected {
  color: black;
}

.selected ~ a {
  color: white;
}

@media only screen and (min-width: 600px) {
  nav {
    width: 75%;
  }
}
@media only screen and (min-width: 800px) {
  nav {
    width: 50%;
  }
}
